@use 'colors';
@use 'fonts';

body {   
    background-color: colors.$white;
    font-family: fonts.$roboto;
    // min-height: 100vh; 
}

span {
    font-size: 1.5em;
}

.navbar {
    background-color: colors.$green;
    font-family: fonts.$pattaya;
    a {
        font-size: 2em;
    }
}

.img-fluid {
    width: 50px;
    height: 50px;
}

.carousel .carousel-item {
    height: 700px;
}
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.carousel-img {
    height: 100%;
}

.carousel-caption {
    font-family: fonts.$hennyPenny;
    // background-color: rgba($color: colors.$black, $alpha: 0.5);
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.headers {
    font-family: fonts.$hennyPenny;
    text-decoration: underline;
    display: inline-block;
}   

.text {
    font-family: fonts.$roboto;
    font-size: 1.3em;
}

// .row {
//     // border: 1px solid;
// }

.banner-left {
    background-color: colors.$green;
}

.banner-right {
    background-color: colors.$green;
}

.main {
    // border: 1px solid;
    background-color: colors.$purple;
    // text-align: center;
}

.inner-flex-item {
    // border: 1px solid;
    width: 240px;
    height: 160px;
}

.media-container {
    // border: 1px solid;
    min-height: 100vh;
}

.faq-container {
    min-height: 100vh;
}

.btn-link.questions {
    color: colors.$black;
    text-decoration: none;
    font-size: 0.8em;
    font-family: fonts.$pattaya;
}

.contact-container {
    min-height: 100vh;
}

a {
    color: colors.$black;
    &:hover {
        color: colors.$black;
    }
}

.sponser-img {
    width: 500px;
    height: 400px;
    img {
        max-width:100%;
        max-height:100%;
    }
}

.sponser-container {
    // border: 1px solid;
    text-align: center;
    min-height: 100vh;
}

footer {
    // border: 1px solid;
    background-color: colors.$yellow;
    text-align: center;
    color: rgba($color: colors.$black, $alpha: 0.4);
    text-decoration: underline;
}